# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
dist/
*.tsbuildinfo

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Diretórios de Build
build/
coverage/

# IDEs e Editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos Temporários
*.swp
.env